body {
    background-color: black;
}

.text {
    color: white;
    text-align: center;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

#poster {
    border: 5px solid white;
    width: 100%;
}

#meme-text {
    font-size: 1.25rem;
}